
@if (displayScheduler === true) {
<bryntum-scheduler #scheduler 
    [resources]="schedulerConfig.resources!" 
    [events]="schedulerConfig.events!" 
    [columns]="schedulerConfig.columns!" 
    [startDate]="schedulerConfig.startDate!" 
    [endDate]="schedulerConfig.endDate!"
    [viewPreset]="schedulerConfig.viewPreset!" 
    [features]="schedulerConfig.features!"
    [rowHeight]="schedulerConfig.rowHeight!" 
    [barMargin]="schedulerConfig.barMargin!"
    [minHeight]="schedulerConfig.minHeight!" 
    [eventStyle]="schedulerConfig.eventStyle!"
    [mode]="schedulerConfig.mode!"
    [snapRelativeToEventStartDate]="schedulerConfig.snapRelativeToEventStartDate!"
    [eventRenderer]="eventRenderer.bind(this)"
    [listeners]="schedulerConfig.listeners!"
    >
</bryntum-scheduler>
}

